body {
  background-color: blue;
  text-align: center;
}
#d3 {
  background-color: chartreuse;
}
#d1 {
  background-color: red;
}
#d4 {
  background-color: aliceblue;
}
#d5 {
  background-color: crimson;
}
#d6 {
  background-color: black;
}
